<!-- <div class="login-form-bg ">    
    <div class=" d-flex justify-content-md-start logo p-5">
        <img src="../../../../assets/etihad/logo/logo.png">
    </div>
    <div class="container login-form w-75 rounded login-form-center">
        <div class="row ">
            <div class="col-lg-3 col-md-6 w-100">
                <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                    <div class="col-12 w-100 d-flex justify-content-center mt-3">
                      <h2 class="text-center text-white">{{ "titles.login-to-your-account" | translate }}</h2>
                    </div>
                    <div class="col-12 d-flex justify-content-center pt-1">
                        <span class=" text-white col-1"><i class=" fa fa-user fa-2xl"></i></span>
                        <input type="text" class="col-11 w-75 form-control input-login" formControlName="email"
                            placeholder="{{ 'placeholders.email' | translate }}" />
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-3 mb-3">
                        <span class=" text-white col-1"><i class="fa-solid fa-lock fa-2xl"></i></span>
                        <input type="password" class="col-11 w-75 form-control input-login" formControlName="password"
                            placeholder="{{ 'placeholders.password' | translate }}" autocomplete="new-password" />
                    </div>

                    <div class="col-12 d-flex ms-3 justify-content-around mt-3 mb-3">
                      <label class="form-check-label " for="rememberMe">
                        <input class="form-check-input mx-2" checked type="checkbox" id="rememberMe" formControlName="rememberMe">
                        <span class="text-white">{{ "labels.remember-me" | translate }}</span>
                      </label>
                      <label>
                        <span (click)="forgotPassword()" class="text-white clickable">{{ "common.buttons.forgot-password" | translate }}</span>
                      </label>
                    </div>

                    <div class="col-12 d-flex justify-content-center mt-3 mb-2">
                        <button class="btn buttonColor col-8" type="submit" [disabled]="isPressed">
                            {{ "common.buttons.login" | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div> -->


<main>
    <div class="h-100 background-logo w-100">
        <form class="login container" [formGroup]="loginForm" (ngSubmit)="logIn()">
            <img src="'./../../../../../assets/icons/logo.png" class="background-logo my-2" alt="">
          <!-- <h4 class="my-3">{{ "titles.login-to-your-account" | translate }}</h4> -->
          <div class="col-12 mt-2 d-flex justify-content-center pt-1">
            <span class="  col-1"><i class=" fa fa-user fa-2xl"></i></span>
            <input type="text" class="col-11 w-75 form-control input-login" formControlName="email"
                placeholder="{{ 'placeholders.email' | translate }}" />
        </div>
        <div class="col-12 d-flex justify-content-center mt-3 mb-3">
            <span class="col-1"><i class="fa-solid fa-lock fa-2xl"></i></span>
            <input type="password" class="col-11 w-75 form-control input-login" formControlName="password"
                placeholder="{{ 'placeholders.password' | translate }}" autocomplete="new-password" />
        </div>
    
        <div class="col-12 d-flex ms-3 justify-content-around mt-3 mb-3">
          <label class="form-check-label " for="rememberMe">
            <input class="form-check-input mx-2" checked type="checkbox" id="rememberMe" formControlName="rememberMe">
            <span class="">{{ "labels.remember-me" | translate }}</span>
          </label>
          <label>
            <span (click)="forgotPassword()" class="clickable">{{ "common.buttons.forgot-password" | translate }}</span>
          </label>
        </div>
        <button class="btn buttonColor col-8" type="submit" [disabled]="isPressed">
            {{ "common.buttons.login" | translate }}
        </button>
        </form>
      </div>
  </main>