<!-- <button
  data-drawer-target="separator-sidebar"
  data-drawer-toggle="separator-sidebar"
  aria-controls="separator-sidebar"
  type="button"
  class="d-flex align-items-center p-2 mt-2 ms-3 text-sm text-muted rounded-lg d-sm-none btn btn-light custom-hover" 
>

  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button> -->
<!-- 
<aside
  id="separator-sidebar"
  class="fixed-top left-0 z-40 w-80 h-screen d-sm-block custom-sidebar"
  aria-label="Sidebar"
>
  <div class=" px-3 py-4 text-white  custom-div">
    <ul class="mb-2 font-medium custom-ul">
      <li (click)="addNewChat()" class="cursor-pointer">
        <a
        class="d-flex align-items-center p-2 rounded-lg text-white border-newChat"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-plus"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            <path d="M9 12l6 0"></path>
            <path d="M12 9l0 6"></path>
          </svg>
          <span class="ms-3">New Chat</span>
        </a>
      </li>
      <div *ngIf="chatHistories.chatHistoryDetails.length > 0">
        <div
          *ngFor="let chatDetails of chatHistories.chatHistoryDetails"
          id="chatConversation"
        >
          <li
            [attr.data-uuid]="chatDetails.id"
            class="d-flex justify-content-between cursor-pointer"
          >
            <a
              class="d-flex align-items-center w-100 p-2 rounded-lg text-white"
              (click)="getHistoryChatMessages(chatDetails.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-history"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 8l0 4l2 2"></path>
                <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">{{
                chatDetails.title
              }}</span>
            </a>
            <button (click)="deleteHistoricalChat(chatDetails.id)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-trash-filled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z"
                  stroke-width="0"
                  fill="currentColor"
                ></path>
                <path
                  d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z"
                  stroke-width="0"
                  fill="currentColor"
                ></path>
              </svg>
            </button>
          </li>
        </div>
      </div>
    </ul>
    <div class="d-flex flex-column">
    </div>
  </div>
</aside> -->
<div>
  <div class="sidebarr col-2">
    <div class="chats">
    <img src="../../../../../assets/icons/logo-01-1.png" class="my-2 mb-4" width="100%" height="50px" >
    <button class="d-flex justify-content-between">
      <span>New Chat</span>

      <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-circle-plus"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            <path d="M9 12l6 0"></path>
            <path d="M12 9l0 6"></path>
          </svg>
    </button>
  </div>
  <div class="profile">
    <a href="#" class="tab">
        email@example.com
    </a>
  </div>
</div>
</div>
  <!-- <div class="sidebar">
    <div class="chats">
        <button>New Chat</button>
    </div>

    <div class="profile">
        <a href="#" class="tab" data-call="upgrade">
            Upgrade to Plus
        </a>
        <br>
        <a href="#" class="tab">
            email@example.com
        </a>
    </div>
  </div> -->